.reviews{
    .title{
        padding: 10px 0;
        font-size: 20px;
    }

    .review{
        div{
            .title{
                font-weight: 500;
                margin-right: 5px;
                font-style: italic;
                letter-spacing: .5px;
            }
        }
        margin-bottom: 15px;

    }
}